div.sheet-left{
    width: 47.5%;
    height: 92.5%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--color2White);
}

div.sheet-left-img{
    width: 220px;
    height: 220px;
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
}

div.sheet-left-img img{
    width: 100%;
    filter: grayscale(0.5);
}

div.sheet-left-img img.stamp1{
    position: absolute;
    z-index: 1;
    width: 60%;
    top: -50px;
    right: -50px;
    transform: rotate(52deg);
}

div.sheet-right{
    width: 47.5%;
    height: 92.5%;
    flex-direction: column;
    background-color: var(--color2White);
}

div.sheet-right-item{
    height: 28%;
    flex-direction: column;
}