div.recipes-content{
    background-color: pink;
    height: 85%;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

div.recipes-img{
    background-color: white;
    width: 50%;
    height: 40%;
}

div.recipes-title{
    background-color: aquamarine;
    width: 50%;
    height: 40%;
}

div.recipes-ingredients{
    background-color: aquamarine;
    width: 50%;
    height: 60%;
}

div.recipes-instructions{
    background-color: white;
    width: 50%;
    height: 60%;
}